[submodule "external/meson_toolchains"]
	path = external/meson_toolchains
	url = https://github.com/uyjulian/meson_toolchains.git
[submodule "external/dokany"]
	path = external/dokany
	url = https://github.com/dokan-dev/dokany
